<md-menu ng-if="!vm.loggedIn">
	<md-list-item aria-label="login" ng-click="vm.openMenu($mdOpenMenu, $event)"
				  style="font-size: 26px;
					color: white;
					opacity: 0.9;
					cursor: pointer;"
	>
		zaloguj
	</md-list-item>
	<md-menu-content width="4">
		<div style="padding: 0 10px 0 10px;">
			<div class="login-headline">Logowanie</div>
			<form ng-submit="vm.login()">
				<div class="inputs" layout="column">
					<md-input-container>
						<label>Email</label>
						<input name="email" ng-model="vm.credentials.email" required>
					</md-input-container>
					<md-input-container>
						<label>Hasło</label>
						<input type="password" name="password" ng-model="vm.credentials.password" required>
					</md-input-container>
				</div>
				<md-button type="submit" class="md-raised md-primary" md-prevent-menu-close="md-prevent-menu-close"
						   style="float: right;">ZALOGUJ
				</md-button>
			</form>
			<md-button ng-click="vm.showRegisterDialog()">Rejestracja</md-button>
		</div>
	</md-menu-content>
</md-menu>

<md-list-item aria-label="logout" ng-if="vm.loggedIn" ng-click=""
			  style="font-size: 26px;
					color: white;
					opacity: 0.9;
					cursor: pointer;"
>
	wyloguj
</md-list-item>


<style>
	.login-headline {
		font-size: 26px;
		padding: 10px;
	}

	.inputs {
		padding: 0 10px 0 10px;
	}

	md-input-container {
		margin-top: 8px;
		margin-bottom: 0;
	}

	md-menu-content {
		background-color: rgba(255, 255, 255, 0.97);
		border-radius: 4px;
	}
</style>
