<div style="padding: 10px;">
	<div class="login-headline">Rejestracja</div>
	<form ng-submit="vm.parent.register()">
		<div class="inputs" layout="column">
			<md-input-container>
				<label>Imię</label>
				<input name="firstName" ng-model="vm.parent.credentials.firstName" required>
			</md-input-container>

			<md-input-container>
				<label>Nazwisko</label>
				<input name="lastName" ng-model="vm.parent.credentials.lastName" required>
			</md-input-container>

			<md-input-container>
				<label>Adres e-mail</label>
				<input name="email" ng-model="vm.parent.credentials.email" required>
			</md-input-container>

			<md-input-container>
				<label>Hasło</label>
				<input type="password" name="password" ng-model="vm.parent.credentials.password" required>
			</md-input-container>

			<md-checkbox ng-required class="md-primary">Zgadzam się na wszystko</md-checkbox>
		</div>
		<md-button type="submit" class="md-raised md-primary" md-prevent-menu-close="md-prevent-menu-close"
				   style="float: right;">
			zarejestruj
		</md-button>
	</form>
</div>
