<!DOCTYPE html>
<html lang="pl" ng-app="news-world">
<head >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title>news-world</title>
	<meta name="description" content="Modular AngularJS with Angm-generator"/>
	<meta name="author" content=""/>
	<meta name="keywords" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes"/>
	<link rel="shortcut icon" href="app/assets/images/favicon.ico"/>
	<link rel="apple-touch-icon" href="app/assets/images/apple-touch-icon.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/apple-touch-icon-72x72.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/apple-touch-icon-114x114.png"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- injector:css -->
	<link rel="stylesheet" href="/src/bower_components/angular-material-icons/angular-material-icons.css">
	<link rel="stylesheet" href="/src/bower_components/angular-material/angular-material.css">
	<!-- endinjector -->

	<script src="/src/bower_components/es5-shim/es5-shim.js"></script>
	<script src="/src/bower_components/json3/lib/json3.min.js"></script>
	<script src="/src/bower_components/angular/angular.js"></script>
	<script src="/src/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/src/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/src/bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="/src/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="/src/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/src/bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="/src/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/src/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
	<script src="/src/bower_components/angular-messages/angular-messages.js"></script>
	<script src="/src/bower_components/angular-material/angular-material.js"></script>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<style>
		.tile-image {
			max-width: 100%;
			max-height: 100%;
		}
	</style>
</head>
<body class="ng-cloak">

<!--Beginning-->
<div class="container generic-container" ng-controller="ArticleController as ctrl">
         <div class="panel panel-default">

             <div class="formcontainer">
                 <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                     <input type="hidden" ng-model="ctrl.article.id" />

                     <div class="row">
                         <div class="form-group col-md-12">
                             <label class="col-md-2 control-lable" for="title">Title</label>
                             <div class="col-md-7">
                                 <input type="text" ng-model="ctrl.article.title" id="title" class="form-control input-sm" placeholder="Enter title" required ng-minlength="3"/>
                                 <div class="has-error" ng-show="myForm.$dirty">
                                     <span ng-show="myForm.title.$error.required">This is a required field</span>
                                     <span ng-show="myForm.title.$error.minlength">Minimum length required is 3</span>
                                     <span ng-show="myForm.title.$invalid">This field is invalid </span>
                                 </div>
                             </div>
                         </div>
                     </div>


                     <div class="row">
                         <div class="form-group col-md-12">
                             <label class="col-md-2 control-lable" for="article">Article content</label>
                             <div class="col-md-7">
                                 <input type="text" ng-model="ctrl.article.text" id="text" class="form-control input-sm" placeholder="Enter article content"/>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="form-group col-md-12">
                             <label class="col-md-2 control-lable" for="link">Link</label>
                             <div class="col-md-7">
                                 <input type="text" ng-model="ctrl.article.link" id="link" class="form-control input-sm" placeholder="Enter your Email" required/>
                                 <div class="has-error" ng-show="myForm.$dirty">
                                     <span ng-show="myForm.link.$error.required">This is a required field</span>
                                     <span ng-show="myForm.link.$invalid">This field is invalid </span>
                                 </div>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="form-actions floatRight">
                             <input type="submit"  value="{{!ctrl.article.id ? 'Add' : 'Update'}}" class="btn btn-primary">

                         </div>
                     </div>
                 </form>
             </div>
         </div>
         <div class="panel panel-default">
               <!-- Default panel contents -->
             <div class="panel-heading"><span class="lead">List of Articles </span></div>
             <div class="tablecontainer">
                 <table class="table table-hover">
                     <thead>
                         <tr>
                             <th>ID.</th>
                             <th>Title</th>
                             <th>Text</th>
                             <th>Link</th>
                             <th width="20%"></th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="u in ctrl.users">
                             <td><span ng-bind="u.id"></span></td>
                             <td><span ng-bind="u.username"></span></td>
                             <td><span ng-bind="u.address"></span></td>
                             <td><span ng-bind="u.email"></span></td>
                             <td>
                             <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>


<!--End-->

<!-- injector:js -->
<script src="/src/bower_components/es5-shim/es5-shim.js"></script>
<script src="/src/bower_components/json3/lib/json3.min.js"></script>
<script src="/src/bower_components/angular/angular.js"></script>
<script src="/src/bower_components/angular-resource/angular-resource.js"></script>
<script src="/src/bower_components/angular-aria/angular-aria.js"></script>
<script src="/src/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/src/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/src/bower_components/angular-animate/angular-animate.js"></script>
<script src="/src/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/src/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/src/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/src/bower_components/angular-messages/angular-messages.js"></script>
<script src="/src/bower_components/angular-material/angular-material.js"></script>
<script src="/src/bower_components/angularUtils-pagination/dirPagination.js"></script>
<script src="/app/app.js"></script>
<script src="/app/app.config.js"></script>

<script src="/app/controller/article_controller.js"></script>
<script src="/app/service/article_service.js"></script>
<!-- endinjector -->


</body>
</html>
