<md-content ng-controller="ArticleCtrl as articleCtrl">
	<md-tabs md-dynamic-height>

		<md-tab label="POST article">
			<md-content class="md-padding">
				<form ng-submit="articleCtrl.postArticle()">
					<md-input-container class="md-block">
						<label>Tytuł</label>
						<input required ng-model="articleCtrl.ArticleToPost.title">
					</md-input-container>

					<md-input-container class="md-block">
						<label>Text</label>
						<input ng-model="articleCtrl.ArticleToPost.text">
					</md-input-container>

					<md-input-container class="md-block">
						<label>ImgURL</label>
						<input ng-model="articleCtrl.ArticleToPost.imgUrl">
					</md-input-container>

					<md-input-container class="md-block">
						<label>Link</label>
						<input required ng-model="articleCtrl.ArticleToPost.link">
					</md-input-container>

					<md-input-container style="margin-right: 10px;">
						<label>Kategoria</label>
						<md-select ng-model="articleCtrl.ArticleToPost.categoryId"
								   >
							<md-option ng-repeat="category in articleCtrl.categories" value="{{category.id}}">
								{{category.name}}
							</md-option>
						</md-select>
					</md-input-container>
						<md-chips ng-model="articleCtrl.tmpTags"
								  md-transform-chip="articleCtrl.transformChip($chip)"
								  >
							<md-autocomplete
								md-selected-item="articleCtrl.selectedTag"
								md-search-text="articleCtrl.searchText"
								md-items="tag in articleCtrl.searchTags(articleCtrl.searchText)"
								md-item-text="tag.name"
								placeholder="Zapodaj tagi"
								>
								<span md-highlight-text="articleCtrl.searchText">{{tag.name}}</span>
							</md-autocomplete>
							<md-chip-template>
        						<span>
									<strong>{{$chip.name}}</strong>
								</span>
							</md-chip-template>
						</md-chips>
					<md-button type="submit">Wyślij</md-button>
				</form>
			</md-content>
		</md-tab>

		<md-tab label="POST category" style="height: 100%">
			<md-content class="md-padding">
				<form ng-submit="articleCtrl.postCategory(articleCtrl.CategoryToPost)">
					<md-input-container class="md-block">
						<label>Nazwa</label>
						<input required ng-model="articleCtrl.CategoryToPost.name">
					</md-input-container>
					<md-input-container class="md-block">
						<label>ImageURL</label>
						<input ng-model="articleCtrl.CategoryToPost.imageUrl">
					</md-input-container>
					<md-button type="submit">Wyślij</md-button>
				</form>
			</md-content>
		</md-tab>

		<md-tab label="POST tag">
			<md-content class="md-padding">
				<form ng-submit="articleCtrl.postTag(articleCtrl.TagToPost)">
					<md-input-container class="md-block">
						<label>Nazwa</label>
						<input required ng-model="articleCtrl.TagToPost.name">
					</md-input-container>
					<md-button type="submit">Wyślij</md-button></form>
			</md-content>
		</md-tab>

	</md-tabs>
</md-content>
