<div layout="row" flex style="background-color: black; width: 100%">
	<div class="overlay"></div>
	<md-sidenav md-component-id="left" class="md-sidenav-left" style="position: fixed" md-disable-backdrop
				md-is-locked-open="$mdMedia('min-width: 333px')">
		<div layout="column" style="align-items: flex-start; height: 100%">
			<login style="padding-top: 50px;"></login>
			<md-list style="align-self: flex-start; width: 100%; padding-top: 100px;">
				<md-list-item ng-repeat="Category in Content.categories">
					<a href="#{{Category.name}}" class="category-selector" du-smooth-scroll du-scrollspy>{{Category.name}}</a>
				</md-list-item>
			</md-list>
		</div>
	</md-sidenav>
	<div layout="column" ng-cloak style="overflow: hidden; width: 100%; position: relative">

		<div height-extractor ng-repeat="Category in Content.categories" style="height: 100%; position: relative">
			<section id="{{Category.name}}">
				<img class="background-image" ng-src="{{Category.articles[0].imageUrl}}" du-parallax
					 y="Content.background"
					 custom="Content.fadeIn" alt="" style="height: {{height}}">
				<md-toolbar style="background: transparent; padding-left: 200px" layout="row">
					<div class="category-heading">{{Category.name}}</div>
				</md-toolbar>
				<div style="width: 100%; padding-left: 200px; padding-right: 200px; padding-bottom: 40px" flex>
					<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="5:4"
								  md-gutter="30px" style="width: 100%; ">
						<md-grid-tile ng-repeat="article in Category.articles | limitTo: 20">
							<article article="article" style="height: 100%; width: 100%"></article>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</section>
		</div>

	</div>
</div>

<style>
	.md-sidenav-left {
		position: fixed;
		height: 100%;
		width: 200px;
		background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to right, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd000000', endColorstr='#00000000', GradientType=1);
	}

	.background-image {
		position: absolute;
		-webkit-transform: translate3d(0, 0, 0);
	}

	.category-selector {
		font-size: 26px;
		color: white;
		opacity: 0.8;
		text-decoration: none;
		webkit-transition: font-size 0.25s, opacity 0.25s;
		transition: font-size 0.25s, opacity 0.25s;
	}

	.category-selector.active {
		font-size: 38px;
		color: white;
		opacity: 0.9;
		text-decoration: none;
	}

	.category-heading {
		font-size: 3em;
		color: white;
		opacity: 0.9;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.73;
		z-index: 1;
	}
</style>
